extends layout

block content
    h1 Map
    table#map(cellspacing="0")
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/index.js")

