body {
    font: 14px Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map td {
	top: -1px;
    cursor: pointer;
	margin: 0;
	padding: 0;
	width: 15px;
	height: 15px;
}

#map td[data-colorid="0"] { background-color: green; }
#map td[data-colorid="1"] { background-color: blue; }
#map td[data-colorid="2"] { background-color: red; }
#map td[data-colorid="3"] { background-color: yellow; }
#map td[data-colorid="4"] { background-color: purple; }
